<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.miapi.mapper.DocumentMapper">

	<insert id="addDocument" parameterType="Document" useGeneratedKeys="true" keyProperty="documentID">
		INSERT INTO eo_project_document (eo_project_document.projectID,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username,eo_project_document.createUserName)
		VALUES (#{projectID},#{contentType},#{contentRaw},#{content},#{title},#{username},#{createUserName});
	</insert>

	<delete id="deleteDocument">
		DELETE FROM eo_project_document WHERE eo_project_document.documentID = #{documentID}
	</delete>

	<select id="getAllDocumentList" resultType="com.xiaomi.miapi.dto.DocumentDTO">
		SELECT eo_project_document.projectID,eo_project_document.documentID,eo_project_document.updateTime,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username,eo_project_document.createUserName FROM eo_project_document
		WHERE eo_project_document.projectID = #{projectID}
	</select>

	<update id="editDocument" parameterType="Document">
		UPDATE eo_project_document SET eo_project_document.contentType = #{contentType},eo_project_document.contentRaw = #{contentRaw},eo_project_document.content = #{content},eo_project_document.title = #{title},eo_project_document.username = #{username} WHERE eo_project_document.documentID = #{documentID}
	</update>

	<select id="searchDocument" resultType="com.xiaomi.miapi.dto.DocumentDTO">
		SELECT eo_project_document.projectID,eo_project_document.documentID,eo_project_document.updateTime,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username FROM eo_project_document
		WHERE eo_project_document.projectID = #{projectID} AND eo_project_document.title LIKE '%${tips}%';
	</select>

	<select id="searchDocumentByName" resultType="com.xiaomi.miapi.dto.DocumentDTO">
		SELECT eo_project_document.projectID,eo_project_document.documentID,eo_project_document.updateTime,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username FROM eo_project_document
		WHERE eo_project_document.projectID = #{projectID} AND eo_project_document.title LIKE '%${tips}%';
	</select>

	<select id="searchDocumentByContent" resultType="com.xiaomi.miapi.dto.DocumentDTO">
		SELECT eo_project_document.projectID,eo_project_document.documentID,eo_project_document.updateTime,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username FROM eo_project_document
		WHERE eo_project_document.projectID = #{projectID} AND eo_project_document.contentRaw LIKE '%${tips}%' OR eo_project_document.content LIKE '%${tips}%';
	</select>

	<select id="searchAllDocument" resultType="com.xiaomi.miapi.dto.DocumentDTO">
		SELECT eo_project_document.projectID,eo_project_document.documentID,eo_project_document.updateTime,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username FROM eo_project_document
		WHERE eo_project_document.title LIKE '%${keyword}%' OR eo_project_document.contentRaw LIKE '%${keyword}%' OR eo_project_document.content LIKE '%${keyword}%';
	</select>

	<select id="getDocument" resultType="java.util.Map">
		SELECT eo_project_document.projectID,eo_project_document.contentType,eo_project_document.contentRaw,eo_project_document.content,eo_project_document.title,eo_project_document.username,eo_project_document.updateTime FROM eo_project_document
		WHERE eo_project_document.documentID = #{documentID}
	</select>

	<delete id="deleteDocuments">
		DELETE FROM eo_project_document WHERE eo_project_document.documentID in
		<foreach collection="documentIDList" open="(" separator="," close=")" index="index" item="item">
			#{item}
		</foreach>
		AND eo_project_document.projectID = #{projectID}
	</delete>

	<select id="getDocumentTitle" resultType="String">
		SELECT GROUP_CONCAT(eo_project_document.title) AS title FROM eo_project_document WHERE eo_project_document.documentID IN
		<foreach collection="documentIDList" index="index" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</select>


</mapper>
