<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.miapi.mapper.IndexInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.miapi.common.pojo.IndexInfo">
    <id column="index_id" jdbcType="INTEGER" property="indexId" />
    <result column="index_name" jdbcType="VARCHAR" property="indexName" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaomi.miapi.common.pojo.IndexInfo">
    <result column="index_doc" jdbcType="LONGVARCHAR" property="indexDoc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    index_id, index_name, project_id, description
  </sql>
  <sql id="Blob_Column_List">
    index_doc
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaomi.miapi.common.pojo.IndexInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from index_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaomi.miapi.common.pojo.IndexInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from index_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from index_info
    where index_id = #{indexId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from index_info
    where index_id = #{indexId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaomi.miapi.common.pojo.IndexInfoExample">
    delete from index_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaomi.miapi.common.pojo.IndexInfo">
    <selectKey keyProperty="indexId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into index_info (index_name, project_id, description, 
      index_doc)
    values (#{indexName,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{indexDoc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaomi.miapi.common.pojo.IndexInfo">
    <selectKey keyProperty="indexId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into index_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="indexName != null">
        index_name,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="indexDoc != null">
        index_doc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="indexName != null">
        #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="indexDoc != null">
        #{indexDoc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaomi.miapi.common.pojo.IndexInfoExample" resultType="java.lang.Long">
    select count(*) from index_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update index_info
    <set>
      <if test="record.indexId != null">
        index_id = #{record.indexId,jdbcType=INTEGER},
      </if>
      <if test="record.indexName != null">
        index_name = #{record.indexName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.indexDoc != null">
        index_doc = #{record.indexDoc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update index_info
    set index_id = #{record.indexId,jdbcType=INTEGER},
      index_name = #{record.indexName,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      index_doc = #{record.indexDoc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update index_info
    set index_id = #{record.indexId,jdbcType=INTEGER},
      index_name = #{record.indexName,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.miapi.common.pojo.IndexInfo">
    update index_info
    <set>
      <if test="indexName != null">
        index_name = #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="indexDoc != null">
        index_doc = #{indexDoc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaomi.miapi.common.pojo.IndexInfo">
    update index_info
    set index_name = #{indexName,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      index_doc = #{indexDoc,jdbcType=LONGVARCHAR}
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaomi.miapi.common.pojo.IndexInfo">
    update index_info
    set index_name = #{indexName,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="index_id" keyProperty="indexId" parameterType="map" useGeneratedKeys="true">
    insert into index_info
    (index_name, project_id, description, index_doc)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.indexName,jdbcType=VARCHAR}, #{item.projectId,jdbcType=INTEGER}, #{item.description,jdbcType=VARCHAR}, 
        #{item.indexDoc,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="index_id" keyProperty="list.indexId" parameterType="map" useGeneratedKeys="true">
    insert into index_info (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'index_name'.toString() == column.value">
          #{item.indexName,jdbcType=VARCHAR}
        </if>
        <if test="'project_id'.toString() == column.value">
          #{item.projectId,jdbcType=INTEGER}
        </if>
        <if test="'description'.toString() == column.value">
          #{item.description,jdbcType=VARCHAR}
        </if>
        <if test="'index_doc'.toString() == column.value">
          #{item.indexDoc,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>