<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.miapi.mapper.SidecarPushDataMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.miapi.pojo.SidecarPushData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaomi.miapi.pojo.SidecarPushData">
    <result column="sidecarApiModuleInfo" jdbcType="LONGVARCHAR" property="sidecarapimoduleinfo" />
    <result column="sidecarApiModuleListAndApiInfo" jdbcType="LONGVARCHAR" property="sidecarapimodulelistandapiinfo" />
    <result column="sidecarApiParamsResponseInfo" jdbcType="LONGVARCHAR" property="sidecarapiparamsresponseinfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, address
  </sql>
  <sql id="Blob_Column_List">
    sidecarApiModuleInfo, sidecarApiModuleListAndApiInfo, sidecarApiParamsResponseInfo
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaomi.miapi.pojo.SidecarPushDataExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sidecar_push_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaomi.miapi.pojo.SidecarPushDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sidecar_push_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sidecar_push_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sidecar_push_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaomi.miapi.pojo.SidecarPushDataExample">
    delete from sidecar_push_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaomi.miapi.pojo.SidecarPushData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sidecar_push_data (address, sidecarApiModuleInfo, 
      sidecarApiModuleListAndApiInfo, sidecarApiParamsResponseInfo
      )
    values (#{address,jdbcType=VARCHAR}, #{sidecarapimoduleinfo,jdbcType=LONGVARCHAR}, 
      #{sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR}, #{sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaomi.miapi.pojo.SidecarPushData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sidecar_push_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="address != null">
        address,
      </if>
      <if test="sidecarapimoduleinfo != null">
        sidecarApiModuleInfo,
      </if>
      <if test="sidecarapimodulelistandapiinfo != null">
        sidecarApiModuleListAndApiInfo,
      </if>
      <if test="sidecarapiparamsresponseinfo != null">
        sidecarApiParamsResponseInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sidecarapimoduleinfo != null">
        #{sidecarapimoduleinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="sidecarapimodulelistandapiinfo != null">
        #{sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="sidecarapiparamsresponseinfo != null">
        #{sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaomi.miapi.pojo.SidecarPushDataExample" resultType="java.lang.Long">
    select count(*) from sidecar_push_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sidecar_push_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.sidecarapimoduleinfo != null">
        sidecarApiModuleInfo = #{record.sidecarapimoduleinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.sidecarapimodulelistandapiinfo != null">
        sidecarApiModuleListAndApiInfo = #{record.sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.sidecarapiparamsresponseinfo != null">
        sidecarApiParamsResponseInfo = #{record.sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sidecar_push_data
    set id = #{record.id,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      sidecarApiModuleInfo = #{record.sidecarapimoduleinfo,jdbcType=LONGVARCHAR},
      sidecarApiModuleListAndApiInfo = #{record.sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR},
      sidecarApiParamsResponseInfo = #{record.sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sidecar_push_data
    set id = #{record.id,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.miapi.pojo.SidecarPushData">
    update sidecar_push_data
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sidecarapimoduleinfo != null">
        sidecarApiModuleInfo = #{sidecarapimoduleinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="sidecarapimodulelistandapiinfo != null">
        sidecarApiModuleListAndApiInfo = #{sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="sidecarapiparamsresponseinfo != null">
        sidecarApiParamsResponseInfo = #{sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaomi.miapi.pojo.SidecarPushData">
    update sidecar_push_data
    set address = #{address,jdbcType=VARCHAR},
      sidecarApiModuleInfo = #{sidecarapimoduleinfo,jdbcType=LONGVARCHAR},
      sidecarApiModuleListAndApiInfo = #{sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR},
      sidecarApiParamsResponseInfo = #{sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaomi.miapi.pojo.SidecarPushData">
    update sidecar_push_data
    set address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into sidecar_push_data
    (address, sidecarApiModuleInfo, sidecarApiModuleListAndApiInfo, sidecarApiParamsResponseInfo
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.address,jdbcType=VARCHAR}, #{item.sidecarapimoduleinfo,jdbcType=LONGVARCHAR}, 
        #{item.sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR}, #{item.sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR}
        )
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into sidecar_push_data (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'address'.toString() == column.value">
          #{item.address,jdbcType=VARCHAR}
        </if>
        <if test="'sidecarApiModuleInfo'.toString() == column.value">
          #{item.sidecarapimoduleinfo,jdbcType=LONGVARCHAR}
        </if>
        <if test="'sidecarApiModuleListAndApiInfo'.toString() == column.value">
          #{item.sidecarapimodulelistandapiinfo,jdbcType=LONGVARCHAR}
        </if>
        <if test="'sidecarApiParamsResponseInfo'.toString() == column.value">
          #{item.sidecarapiparamsresponseinfo,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>