*.bak
build_info.properties
.classpath
dependency-reduced-pom.xml
*.diff
*.db
.DS_Store
.idea/
.vscode/
*.iml
logs/
.project
.settings/
.tags*
target/
schedule/target/
test-output/
nohup*
*.log
*.swp
*.pyc
*.class
.sbtserver*
.vscode/settings.json
selector_config.json
history.db
memory-config-local.yml

.hive/
