*.bak
build_info.properties
.classpath
dependency-reduced-pom.xml
*.diff
.DS_Store
.idea/
*.iml
.project
.settings/
.tags*
target/
test-output/
nohup*
*.log
*.swp
*.pyc
.sbtserver*
*.json.local
*.xml.local
*local.properties
*agent_channel_config.json
/lib/
