*.bak
build_info.properties
.classpath
dependency-reduced-pom.xml
*.diff
.DS_Store
.idea/
*.iml
.project
.settings/
.tags*
target/
test-output/
nohup*
*.log
*.swp
*.pyc
.sbtserver*
*.iml

mimonitor-server/src/main/resources/application-dev.properties
