<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.mone.monitor.dao.mapper.AppCapacityAutoAdjustMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjust">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="pipeline_id" jdbcType="INTEGER" property="pipelineId" />
    <result column="container" jdbcType="VARCHAR" property="container" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="min_instance" jdbcType="INTEGER" property="minInstance" />
    <result column="max_instance" jdbcType="INTEGER" property="maxInstance" />
    <result column="auto_capacity" jdbcType="INTEGER" property="autoCapacity" />
    <result column="depend_on" jdbcType="INTEGER" property="dependOn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, pipeline_id, container, status, min_instance, max_instance, auto_capacity, 
    depend_on, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjustExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_capacity_auto_adjust
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null and limit >= 0">
      limit #{offset} , #{limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_capacity_auto_adjust
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_capacity_auto_adjust
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjustExample">
    delete from app_capacity_auto_adjust
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjust">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_capacity_auto_adjust (app_id, pipeline_id, container, 
      status, min_instance, max_instance, 
      auto_capacity, depend_on, create_time, 
      update_time)
    values (#{appId,jdbcType=INTEGER}, #{pipelineId,jdbcType=INTEGER}, #{container,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{minInstance,jdbcType=INTEGER}, #{maxInstance,jdbcType=INTEGER}, 
      #{autoCapacity,jdbcType=INTEGER}, #{dependOn,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjust">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_capacity_auto_adjust
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="pipelineId != null">
        pipeline_id,
      </if>
      <if test="container != null">
        container,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="minInstance != null">
        min_instance,
      </if>
      <if test="maxInstance != null">
        max_instance,
      </if>
      <if test="autoCapacity != null">
        auto_capacity,
      </if>
      <if test="dependOn != null">
        depend_on,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="pipelineId != null">
        #{pipelineId,jdbcType=INTEGER},
      </if>
      <if test="container != null">
        #{container,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="minInstance != null">
        #{minInstance,jdbcType=INTEGER},
      </if>
      <if test="maxInstance != null">
        #{maxInstance,jdbcType=INTEGER},
      </if>
      <if test="autoCapacity != null">
        #{autoCapacity,jdbcType=INTEGER},
      </if>
      <if test="dependOn != null">
        #{dependOn,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjustExample" resultType="java.lang.Long">
    select count(*) from app_capacity_auto_adjust
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_capacity_auto_adjust
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=INTEGER},
      </if>
      <if test="record.pipelineId != null">
        pipeline_id = #{record.pipelineId,jdbcType=INTEGER},
      </if>
      <if test="record.container != null">
        container = #{record.container,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.minInstance != null">
        min_instance = #{record.minInstance,jdbcType=INTEGER},
      </if>
      <if test="record.maxInstance != null">
        max_instance = #{record.maxInstance,jdbcType=INTEGER},
      </if>
      <if test="record.autoCapacity != null">
        auto_capacity = #{record.autoCapacity,jdbcType=INTEGER},
      </if>
      <if test="record.dependOn != null">
        depend_on = #{record.dependOn,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_capacity_auto_adjust
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=INTEGER},
      pipeline_id = #{record.pipelineId,jdbcType=INTEGER},
      container = #{record.container,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      min_instance = #{record.minInstance,jdbcType=INTEGER},
      max_instance = #{record.maxInstance,jdbcType=INTEGER},
      auto_capacity = #{record.autoCapacity,jdbcType=INTEGER},
      depend_on = #{record.dependOn,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjust">
    update app_capacity_auto_adjust
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="pipelineId != null">
        pipeline_id = #{pipelineId,jdbcType=INTEGER},
      </if>
      <if test="container != null">
        container = #{container,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="minInstance != null">
        min_instance = #{minInstance,jdbcType=INTEGER},
      </if>
      <if test="maxInstance != null">
        max_instance = #{maxInstance,jdbcType=INTEGER},
      </if>
      <if test="autoCapacity != null">
        auto_capacity = #{autoCapacity,jdbcType=INTEGER},
      </if>
      <if test="dependOn != null">
        depend_on = #{dependOn,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaomi.mone.monitor.dao.model.AppCapacityAutoAdjust">
    update app_capacity_auto_adjust
    set app_id = #{appId,jdbcType=INTEGER},
      pipeline_id = #{pipelineId,jdbcType=INTEGER},
      container = #{container,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      min_instance = #{minInstance,jdbcType=INTEGER},
      max_instance = #{maxInstance,jdbcType=INTEGER},
      auto_capacity = #{autoCapacity,jdbcType=INTEGER},
      depend_on = #{dependOn,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into app_capacity_auto_adjust
    (app_id, pipeline_id, container, status, min_instance, max_instance, auto_capacity, 
      depend_on, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.appId,jdbcType=INTEGER}, #{item.pipelineId,jdbcType=INTEGER}, #{item.container,jdbcType=VARCHAR}, 
        #{item.status,jdbcType=INTEGER}, #{item.minInstance,jdbcType=INTEGER}, #{item.maxInstance,jdbcType=INTEGER}, 
        #{item.autoCapacity,jdbcType=INTEGER}, #{item.dependOn,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into app_capacity_auto_adjust (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'app_id'.toString() == column.value">
          #{item.appId,jdbcType=INTEGER}
        </if>
        <if test="'pipeline_id'.toString() == column.value">
          #{item.pipelineId,jdbcType=INTEGER}
        </if>
        <if test="'container'.toString() == column.value">
          #{item.container,jdbcType=VARCHAR}
        </if>
        <if test="'status'.toString() == column.value">
          #{item.status,jdbcType=INTEGER}
        </if>
        <if test="'min_instance'.toString() == column.value">
          #{item.minInstance,jdbcType=INTEGER}
        </if>
        <if test="'max_instance'.toString() == column.value">
          #{item.maxInstance,jdbcType=INTEGER}
        </if>
        <if test="'auto_capacity'.toString() == column.value">
          #{item.autoCapacity,jdbcType=INTEGER}
        </if>
        <if test="'depend_on'.toString() == column.value">
          #{item.dependOn,jdbcType=INTEGER}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>