<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.mone.log.manager.mapper.MilogEsClusterMapper">

    <select id="selectByTag" resultType="com.xiaomi.mone.log.manager.model.pojo.MilogEsClusterDO">
        SELECT
            *
        FROM
            `milog_es_cluster`
        WHERE
            tag = #{tag}
    </select>
    <select id="selectAll" resultType="com.xiaomi.mone.log.manager.model.pojo.MilogEsClusterDO">
        SELECT
            *
        FROM
            `milog_es_cluster`
    </select>
    <select id="selectByRegion" resultType="com.xiaomi.mone.log.manager.model.pojo.MilogEsClusterDO">
        SELECT
            *
        FROM
            `milog_es_cluster`
        WHERE
            region = #{region}
    </select>
    <select id="selectByArea" resultType="com.xiaomi.mone.log.manager.model.pojo.MilogEsClusterDO">
        SELECT
            *
        FROM
            `milog_es_cluster`
        WHERE
            area = #{area}
            and labels like '%开源%';
    </select>
    <select id="selectByAlias" resultType="com.xiaomi.mone.log.manager.model.pojo.MilogEsClusterDO">
        SELECT
            *
        FROM
            `milog_es_cluster`
        WHERE
            name = #{alias}
    </select>
</mapper>
