<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.mone.log.manager.mapper.MilogAnalyseGraphMapper">

    <select id="getDashboardGraph" resultType="com.xiaomi.mone.log.manager.model.dto.DashboardGraphDTO">
        SELECT
            ref.private_name graphPrivateName,
            graph.`name` graphName,
            type.type graphType,
            ref.point point,
            graph.id graphId
        FROM
            milog_analyse_dashboard_graph_ref ref,
            milog_analyse_graph graph,
            milog_analyse_graph_type type
        WHERE
            ref.graph_id = graph.id
          AND graph.graph_type = type.id
          and ref.dashboard_id = #{dashboardId}
    </select>
    <select id="search" resultType="com.xiaomi.mone.log.manager.model.dto.GraphDTO">
        SELECT
            graph.`name` name,
            graph.field_name fieldName,
            type.`name` graphType
        FROM
            milog_analyse_graph graph,
            milog_analyse_graph_type type
        <where>
                graph.graph_type = type.id
            <if test="spaceId != null">
                AND graph.space_id = #{spaceId}
            </if>
            <if test="storeId != null">
                AND graph.store_id = #{storeId}
            </if>
            <if test="graphName != null and graphName != ''">
                AND graph.name like '%#{name}%'
            </if>
        </where>
    </select>
</mapper>
