<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.mone.log.manager.mapper.MilogLogCountMapper">

    <insert id="batchInsert">
        INSERT INTO milog_log_count
            (tail_id, es_index, day,number)
        VALUES
        <foreach collection="logCountList" item="model" separator=",">
            (#{model.tailId}, #{model.esIndex}, #{model.day}, #{model.number})
        </foreach>
    </insert>
    <delete id="deleteBeforeDay">
        DELETE
        FROM
            milog_log_count
        WHERE
            <![CDATA[day < #{day}]]>
    </delete>
    <delete id="deleteThisDay">
        DELETE
        FROM
            milog_log_count
        WHERE
            <![CDATA[day = #{day}]]>
    </delete>

    <select id="collectTopCount" resultType="java.util.Map" parameterType="string">
        SELECT
            tail.tail,
            sum( count.number ) number
        FROM
            milog_log_count count,
            milog_logstail tail
        WHERE
            count.tail_id = tail.id
            <![CDATA[and count.day between #{fromDay} and #{toDay}]]>
        GROUP BY
            tail.id
        ORDER BY
            number DESC
        LIMIT 10
    </select>

    <select id="collectTrend" resultType="java.util.Map">
        SELECT
            count.day,
            count.number
        FROM
            milog_log_count count,
	        milog_logstail tail
        WHERE
            count.tail_id = tail.id
            and tail.id = #{tailId}
            <![CDATA[and count.day between #{fromDay} and #{toDay}]]>
        ORDER BY
            count.day
    </select>

    <select id="collectSpaceTrend" resultType="java.util.Map">
        SELECT
            count. DAY day,
            sum(count.number) number,
            space.space_name spaceName,
            space.id spaceId
        FROM
            milog_log_count count,
            milog_logstail tail,
            milog_space space
        WHERE
            count.tail_id = tail.id
            AND tail.space_id = space.id
            <![CDATA[and count.day between #{fromDay} and #{toDay}]]>
        GROUP BY
            tail.space_id,
            count.day
        ORDER BY
            spaceId,
            count. DAY
    </select>

    <select id="isLogtailCountDone" resultType="java.lang.Long">
        SELECT
            count( 1 )
        FROM
            `milog_log_count`
        WHERE
            <![CDATA[day = #{day}]]>
    </select>

    <select id="collectSpaceCount" resultType="java.util.Map">
        SELECT
            sum(c.number) number,
            s.id spaceId,
            s.space_name spaceName
        FROM
            milog_logstail t,
            milog_log_count c,
            milog_space s
        WHERE
            t.id = c.tail_id
            AND t.space_id = s.id
            <![CDATA[and c.day between #{fromDay} and #{toDay}]]>
        GROUP BY
            t.space_id
        ORDER BY
            number DESC
        LIMIT 10
    </select>
    <select id="collectAppLog" resultType="java.util.Map">
        SELECT
            sum( count.number ) number,
            tail.app_id appId
        FROM
            milog_log_count count,
            milog_logstail tail,
            milog_app_topic_rel rel
        WHERE
            count.tail_id = tail.id
          AND tail.app_id = rel.app_id
          AND rel.source = #{source}
          AND rel.type = '0'
          AND <![CDATA[count.day = #{day}]]>
        GROUP BY
            tail.app_id
        HAVING
            <![CDATA[number >= #{threshold}]]>
    </select>
</mapper>
