*.bak
build_info.properties
.classpath
dependency-reduced-pom.xml
*.diff
.DS_Store
.idea/
*.iml
logs/
log/
.project
.settings/
.tags*
target/
test-output/
nohup*
*.log
*.swp
*.pyc
.sbtserver*
.java-version
license-list
/hera-operator-service/target/
/hera-operator-server/target/
*/src/license/
