<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.mone.log.manager.mapper.MilogEsIndexMapper">

    <select id="selectRegionIndexList" resultType="com.xiaomi.mone.log.manager.model.pojo.LogEsIndexDO" parameterType="string">
        SELECT
            idx.*
        FROM
            milog_es_index idx,
            milog_es_cluster clu
        WHERE
            idx.cluster_id = clu.id
        <if test="region != null and region != ''">
            AND clu.region = #{region}
        </if>
    </select>
    <select id="selectAreaIndexList" resultType="com.xiaomi.mone.log.manager.model.pojo.LogEsIndexDO">
        SELECT
            idx.*
        FROM
            milog_es_index idx,
            milog_es_cluster clu
        WHERE
            idx.cluster_id = clu.id
            AND clu.area = #{area}
    </select>
</mapper>
