<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.mone.log.manager.mapper.MilogAnalyseDashboardGraphRefMapper">
    <delete id="deleteGraphRef">
        DELETE
        FROM
            milog_analyse_dashboard_graph_ref
        WHERE
            graph_id = #{graphId}
    </delete>
    <delete id="delRef">
        DELETE
        FROM
            milog_analyse_dashboard_graph_ref
        WHERE
            dashboard_id = #{dashboardId}
          AND graph_id = #{graphId}
    </delete>

    <select id="getByDashboardId" resultType="com.xiaomi.mone.log.manager.model.pojo.LogDashboardGraphRefDO">
        SELECT
            *
        FROM
            milog_analyse_dashboard_graph_ref
        WHERE
            dashboard_id = #{dashboardId}
    </select>
    <select id="isRefed" resultType="java.lang.Long">
        SELECT
            count( 1 )
        FROM
            milog_analyse_dashboard_graph_ref
        WHERE
            dashboard_id = #{dashboardId}
          AND graph_id = #{graphId}
    </select>
    <select id="getRef" resultType="com.xiaomi.mone.log.manager.model.pojo.LogDashboardGraphRefDO">
        SELECT
            *
        FROM
            milog_analyse_dashboard_graph_ref
        WHERE
            dashboard_id = #{dashboardId}
          AND graph_id = #{graphId}
    </select>
</mapper>
