<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.miapi.mapper.MockMapper">
	<select id="getSuccessResult" resultType="String">
		SELECT
		eo_api.apiSuccessMock FROM eo_api WHERE eo_api.projectID =
		#{projectID} AND eo_api.apiURI = #{apiURI} AND eo_api.apiRequestType =
		#{apiRequestType} AND eo_api.removed = 0 ORDER BY eo_api.apiUpdateTime
		DESC LIMIT 1
	</select>
	<select id="getFailureResult" resultType="String">
		SELECT
		eo_api.apiFailureMock FROM eo_api WHERE eo_api.projectID =
		#{projectID} AND eo_api.apiURI = #{apiURI} AND eo_api.apiRequestType =
		#{apiRequestType} AND eo_api.removed = 0 ORDER BY eo_api.apiUpdateTime
		DESC LIMIT 1
	</select>
	<select id="getRestfulMock" resultType="java.util.Map">
		SELECT
		eo_api.apiURI,eo_api.apiID,eo_api.apiSuccessMock,eo_api.apiFailureMock,eo_api.mockResult
		FROM eo_api WHERE eo_api.projectID = #{projectID} AND eo_api.removed =
		0 AND eo_api.apiRequestType = #{apiRequestType} ORDER BY
		eo_api.apiUpdateTime DESC LIMIT 1
	</select>
	<select id="getMockResult" resultType="String">
		SELECT
		eo_api.mockResult FROM eo_api WHERE eo_api.projectID =
		#{projectID} AND eo_api.apiURI = #{apiURI} AND eo_api.apiRequestType =
		#{apiRequestType} AND eo_api.removed = 0 ORDER BY eo_api.apiUpdateTime
		DESC LIMIT 1
	</select>
</mapper>