@charset "UTF-8";@import"//at.alicdn.com/t/c/font_4406517_7d1ckau6n2u.css";:root {
    --oz-color-white: #ffffff;
    --oz-color-black: #000000;
    --oz-color-primary-rgb: 78, 64, 229;
    --oz-color-success-rgb: 26, 208, 0;
    --oz-color-warning-rgb: 225, 152, 0;
    --oz-color-danger-rgb: 213, 0, 49;
    --oz-color-error-rgb: 213, 0, 49;
    --oz-color-info-rgb: 144, 147, 153;
    --oz-font-size-extra-large: 20px;
    --oz-font-size-large: 18px;
    --oz-font-size-medium: 16px;
    --oz-font-size-base: 14px;
    --oz-font-size-small: 13px;
    --oz-font-size-extra-small: 12px;
    --oz-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    --oz-font-weight-primary: 500;
    --oz-font-line-height-primary: 24px;
    --oz-index-normal: 1;
    --oz-index-top: 1000;
    --oz-index-popper: 2000;
    --oz-border-radius-base: 4px;
    --oz-border-radius-small: 2px;
    --oz-border-radius-round: 20px;
    --oz-border-radius-circle: 100%;
    --oz-transition-duration: .3s;
    --oz-transition-duration-fast: .2s;
    --oz-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
    --oz-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
    --oz-transition-all: all var(--oz-transition-duration) var(--oz-transition-function-ease-in-out-bezier);
    --oz-transition-fade: opacity var(--oz-transition-duration) var(--oz-transition-function-fast-bezier);
    --oz-transition-md-fade: transform var(--oz-transition-duration) var(--oz-transition-function-fast-bezier), opacity var(--oz-transition-duration) var(--oz-transition-function-fast-bezier);
    --oz-transition-fade-linear: opacity var(--oz-transition-duration-fast) linear;
    --oz-transition-border: border-color var(--oz-transition-duration-fast) var(--oz-transition-function-ease-in-out-bezier);
    --oz-transition-box-shadow: box-shadow var(--oz-transition-duration-fast) var(--oz-transition-function-ease-in-out-bezier);
    --oz-transition-color: color var(--oz-transition-duration-fast) var(--oz-transition-function-ease-in-out-bezier);
    --oz-component-size-large: 40px;
    --oz-component-size: 32px;
    --oz-component-size-small: 24px
}


:root {
    color-scheme: light;
    --oz-color-white: #ffffff;
    --oz-color-black: #000000;
    --oz-color-primary: #4e40e5;
    --oz-color-primary-light-3: #8379ed;
    --oz-color-primary-light-5: #a7a0f2;
    --oz-color-primary-light-7: #cac6f7;
    --oz-color-primary-light-8: #dcd9fa;
    --oz-color-primary-light-9: #edecfc;
    --oz-color-primary-dark-2: #3e33b7;
    --oz-color-success: #1ad000;
    --oz-color-success-light-3: #5fde4d;
    --oz-color-success-light-5: #8de880;
    --oz-color-success-light-7: #baf1b3;
    --oz-color-success-light-8: #d1f6cc;
    --oz-color-success-light-9: #e8fae6;
    --oz-color-success-dark-2: #15a600;
    --oz-color-warning: #e19800;
    --oz-color-warning-light-3: #eab74d;
    --oz-color-warning-light-5: #f0cc80;
    --oz-color-warning-light-7: #f6e0b3;
    --oz-color-warning-light-8: #f9eacc;
    --oz-color-warning-light-9: #fcf5e6;
    --oz-color-warning-dark-2: #b47a00;
    --oz-color-danger: #d50031;
    --oz-color-danger-light-3: #e24d6f;
    --oz-color-danger-light-5: #ea8098;
    --oz-color-danger-light-7: #f2b3c1;
    --oz-color-danger-light-8: #f7ccd6;
    --oz-color-danger-light-9: #fbe6ea;
    --oz-color-danger-dark-2: #aa0027;
    --oz-color-error: #d50031;
    --oz-color-error-light-3: #e24d6f;
    --oz-color-error-light-5: #ea8098;
    --oz-color-error-light-7: #f2b3c1;
    --oz-color-error-light-8: #f7ccd6;
    --oz-color-error-light-9: #fbe6ea;
    --oz-color-error-dark-2: #aa0027;
    --oz-color-info: #909399;
    --oz-color-info-light-3: #b1b3b8;
    --oz-color-info-light-5: #c8c9cc;
    --oz-color-info-light-7: #dedfe0;
    --oz-color-info-light-8: #e9e9eb;
    --oz-color-info-light-9: #f4f4f5;
    --oz-color-info-dark-2: #73767a;
    --oz-bg-color: #E6FFFD;
    --oz-bg-color-page: #f2f3f5;
    --oz-bg-color-overlay: #ffffff;
    --oz-bg-color-input: #fff;
    --oz-text-color-primary: #303133;
    --oz-text-color-regular: #606266;
    --oz-text-color-secondary: #909399;
    --oz-text-color-placeholder: #a8abb2;
    --oz-text-color-disabled: #c0c4cc;
    --oz-border-color: #dcdfe6;
    --oz-border-color-light: #e4e7ed;
    --oz-border-color-lighter: #ebeef5;
    --oz-border-color-extra-light: #f2f6fc;
    --oz-border-color-dark: #d4d7de;
    --oz-border-color-darker: #cdd0d6;
    --oz-fill-color: #f0f2f5;
    --oz-fill-color-light: #f5f7fa;
    --oz-fill-color-lighter: #fafafa;
    --oz-fill-color-extra-light: #fafcff;
    --oz-fill-color-dark: #ebedf0;
    --oz-fill-color-darker: #e6e8eb;
    --oz-fill-color-blank: #ffffff;
    --oz-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --oz-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --oz-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --oz-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    --oz-disabled-bg-color: var(--oz-fill-color-light);
    --oz-disabled-text-color: var(--oz-text-color-placeholder);
    --oz-disabled-border-color: var(--oz-border-color-light);
    --oz-overlay-color: rgba(0, 0, 0, .8);
    --oz-overlay-color-light: rgba(0, 0, 0, .7);
    --oz-overlay-color-lighter: rgba(0, 0, 0, .5);
    --oz-mask-color: rgba(255, 255, 255, .9);
    --oz-mask-color-extra-light: rgba(255, 255, 255, .3);
    --oz-border-width: 1px;
    --oz-border-style: solid;
    --oz-border-color-hover: var(--oz-text-color-disabled);
    --oz-border: var(--oz-border-width) var(--oz-border-style) var(--oz-border-color);
    --oz-svg-monochrome-grey: var(--oz-border-color)
}

@media (min-width: 640px) {
    .container,.link-container:link {
        max-width:640px
    }

    .empty-container:empty {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container,.link-container:link {
        max-width:768px
    }

    .empty-container:empty {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container,.link-container:link {
        max-width:1024px
    }

    .empty-container:empty {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container,.link-container:link {
        max-width:1280px
    }

    .empty-container:empty {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .container,.link-container:link {
        max-width:1536px
    }

    .empty-container:empty {
        max-width: 1536px
    }
}

.visible {
    visibility: visible
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.static {
    position: static
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.right-1 {
    right: .25rem
}

.z-10 {
    z-index: 10
}

.grid,[grid=""] {
    display: grid
}

[rows~="4"] {
    grid-template-rows: repeat(4,minmax(0,1fr))
}

[rows~="5"] {
    grid-template-rows: repeat(5,minmax(0,1fr))
}

[rows~="6"] {
    grid-template-rows: repeat(6,minmax(0,1fr))
}

.m-189\.288 {
    margin: 47.322rem
}

.m-205\.312 {
    margin: 51.328rem
}

.m-283\.624 {
    margin: 70.906rem
}

.m-auto {
    margin: auto
}

.m0 {
    margin: 0
}

.m144 {
    margin: 36rem
}

.m18\.5 {
    margin: 4.625rem
}

.m27\.547 {
    margin: 6.88675rem
}

.m336\.563 {
    margin: 84.14075rem
}

.m448 {
    margin: 112rem
}

.m65\.9712 {
    margin: 16.4928rem
}

.m78 {
    margin: 19.5rem
}

.m-r-0 {
    margin-right: 0
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.me {
    margin-inline-end:1rem}

.ml-2 {
    margin-left: .5rem
}

.ml4 {
    margin-left: 1rem
}

.mr-\[6px\] {
    margin-right: 6px
}

.mr-2 {
    margin-right: .5rem
}

.ms {
    margin-inline-start:1rem}

.mt-2 {
    margin-top: .5rem
}

.mt-20px {
    margin-top: 20px
}

.mt-4 {
    margin-top: 1rem
}

.inline,[inline=""] {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.list-item {
    display: list-item
}

.hidden {
    display: none
}

[size~="14"] {
    width: 3.5rem;
    height: 3.5rem
}

[size~="16"] {
    width: 4rem;
    height: 4rem
}

[size~="18"] {
    width: 4.5rem;
    height: 4.5rem
}

[size~="2"] {
    width: .5rem;
    height: .5rem
}

[size~="20"] {
    width: 5rem;
    height: 5rem
}

[size~="24"] {
    width: 6rem;
    height: 6rem
}

[size~="46"] {
    width: 11.5rem;
    height: 11.5rem
}

[size~="50%"] {
    width: 50%;
    height: 50%
}

[size~="640"] {
    width: 160rem;
    height: 160rem
}

[size~="700px"] {
    width: 700px;
    height: 700px
}

[size~="720px"] {
    width: 720px;
    height: 720px
}

[size~="740"] {
    width: 185rem;
    height: 185rem
}

[size~="80%"] {
    width: 80%;
    height: 80%
}

.h-8 {
    height: 2rem
}

.h-full {
    height: 100%
}

.h1 {
    height: .25rem
}

.h100 {
    height: 25rem
}

.h2 {
    height: .5rem
}

.h3 {
    height: .75rem
}

.h4 {
    height: 1rem
}

.max-h-\[80px\] {
    max-height: 80px
}

.max-h-full {
    max-height: 100%
}

.min-h-0 {
    min-height: 0
}

.min-w-\[20px\] {
    min-width: 20px
}

.w-\[100px\] {
    width: 100px
}

.w-\[190px\] {
    width: 190px
}

.w-\[200px\] {
    width: 200px
}

.w-\[360px\] {
    width: 360px
}

.w-full {
    width: 100%
}

.max-w-screen-xl {
    max-width: 1280px
}

.flex,[flex=""] {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.flex-1 {
    flex: 1 1 0%
}

.flex-shrink {
    flex-shrink: 1
}

.flex-shrink-0,.shrink-0 {
    flex-shrink: 0
}

.flex-grow,.grow {
    flex-grow: 1
}

.basis-8 {
    flex-basis: 2rem
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.table {
    display: table
}

.transform {
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.cursor-pointer {
    cursor: pointer
}

.resize {
    resize: both
}

[resize~=none] {
    resize: none
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-items-center {
    justify-items: center
}

.gap-1 {
    gap: .25rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

[gap~="20"] {
    gap: 5rem
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --un-space-x-reverse: 0;
    margin-left: calc(.5rem * calc(1 - var(--un-space-x-reverse)));
    margin-right: calc(.5rem * var(--un-space-x-reverse))
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-y-auto {
    overflow-y: auto
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text-ellipsis {
    text-overflow: ellipsis
}

.whitespace-nowrap {
    white-space: nowrap
}

.whitespace-pre-wrap {
    white-space: pre-wrap
}

.break-words {
    overflow-wrap: break-word
}

.break-all {
    word-break: break-all
}

.b,.border,[border=""] {
    border-width: 1px
}

.border-\[\#4b9e5f\] {
    --un-border-opacity: 1;
    border-color: rgb(75 158 95 / var(--un-border-opacity))
}

.border-\[\#8379ed\],.dark .dark\:border-\[\#8379ed\] {
    --un-border-opacity: 1;
    border-color: rgb(131 121 237 / var(--un-border-opacity))
}

.border-gray {
    --un-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--un-border-opacity))
}

.dark .dark\:border-\[\#24272e\] {
    --un-border-opacity: 1;
    border-color: rgb(36 39 46 / var(--un-border-opacity))
}

.rounded-full {
    border-radius: 9999px
}

.rounded-md {
    border-radius: .375rem
}

.bg-\[\#00a9ff\],.dark .dark\:bg-\[\#00a9ff\] {
    --un-bg-opacity: 1;
    background-color: rgb(0 169 255 / var(--un-bg-opacity))
}

.bg-\[\#80d4ff\],.dark .dark\:bg-\[\#80d4ff\] {
    --un-bg-opacity: 1;
    background-color: rgb(128 212 255 / var(--un-bg-opacity))
}

.bg-\[\#8379ed\],.dark .dark\:bg-\[\#8379ed\] {
    --un-bg-opacity: 1;
    background-color: rgb(131 121 237 / var(--un-bg-opacity))
}

.bg-\[\#cac6f7\] {
    --un-bg-opacity: 1;
    background-color: rgb(202 198 247 / var(--un-bg-opacity))
}

.bg-\[\#f4f6f8\] {
    --un-bg-opacity: 1;
    background-color: rgb(244 246 248 / var(--un-bg-opacity))
}

.bg-\[\#FFFFFF\] {
    --un-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.bg-\[var\(--oz-color-primary\)\] {
    background-color: var(--oz-color-primary)
}

.dark .dark\:bg-\[\#1e1e20\] {
    --un-bg-opacity: 1;
    background-color: rgb(30 30 32 / var(--un-bg-opacity))
}

.dark .dark\:hover\:bg-\[\#00a9ff\]:hover,.hover\:bg-\[\#00a9ff\]:hover {
    --un-bg-opacity: 1;
    background-color: rgb(0 169 255 / var(--un-bg-opacity))
}

.hover\:bg-\[\#cac6f7\]:hover {
    --un-bg-opacity: 1;
    background-color: rgb(202 198 247 / var(--un-bg-opacity))
}

[stroke-width~="16"] {
    stroke-width: 16px
}

[stroke-width~="18"] {
    stroke-width: 18px
}

.p-\[10px\] {
    padding: 10px
}

.p-\[20px\] {
    padding: 20px
}

.p-\[8px\] {
    padding: 8px
}

.p-2,.p2,[p2=""] {
    padding: .5rem
}

.p-4,.p4,[p4=""] {
    padding: 1rem
}

.p-a {
    padding: auto
}

.p1,[p1=""] {
    padding: .25rem
}

.p3,[p3=""] {
    padding: .75rem
}

.px,[px=""] {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px
}

.py-\[20px\],.py-20px {
    padding-top: 20px;
    padding-bottom: 20px
}

.py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

[px~="default:"]:default {
    padding-left: 1rem;
    padding-right: 1rem
}

.p-l-15px {
    padding-left: 15px
}

.p-r {
    padding-right: 1rem
}

.pb-\[10px\] {
    padding-bottom: 10px
}

.pb-4 {
    padding-bottom: 1rem
}

.pb10 {
    padding-bottom: 2.5rem
}

.pb20 {
    padding-bottom: 5rem
}

.pl-\[10px\] {
    padding-left: 10px
}

.pl-\[8px\] {
    padding-left: 8px
}

.pr-14 {
    padding-right: 3.5rem
}

.pr-3 {
    padding-right: .75rem
}

.pt-\[10px\] {
    padding-top: 10px
}

.pt-\[20px\] {
    padding-top: 20px
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-wrap {
    text-wrap: wrap
}

.text-8xl {
    font-size: 6rem;
    line-height: 1
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

[text~="2xl"] {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-\[\#b4bbc4\] {
    --un-text-opacity: 1;
    color: rgb(180 187 196 / var(--un-text-opacity))
}

.color-\[\#fff\],.dark .dark\:color-\[\#fff\],.text-\[\#fff\] {
    --un-text-opacity: 1;
    color: rgb(255 255 255 / var(--un-text-opacity))
}

.text-neutral-300 {
    --un-text-opacity: 1;
    color: rgb(212 212 212 / var(--un-text-opacity))
}

.text-red-500 {
    --un-text-opacity: 1;
    color: rgb(239 68 68 / var(--un-text-opacity))
}

[text~="$t("] {
    color: var(--t\()
}

.dark .dark\:hover\:text-neutral-200:hover {
    --un-text-opacity: 1;
    color: rgb(229 229 229 / var(--un-text-opacity))
}

.dark .dark\:hover\:text-neutral-300:hover {
    --un-text-opacity: 1;
    color: rgb(212 212 212 / var(--un-text-opacity))
}

.hover\:text-neutral-800:hover {
    --un-text-opacity: 1;
    color: rgb(38 38 38 / var(--un-text-opacity))
}

[color~="#262845"] {
    --un-text-opacity: 1;
    color: rgb(38 40 69 / var(--un-text-opacity))
}

[color~="#40a3ff"] {
    --un-text-opacity: 1;
    color: rgb(64 163 255 / var(--un-text-opacity))
}

[color~="#4d53e8"] {
    --un-text-opacity: 1;
    color: rgb(77 83 232 / var(--un-text-opacity))
}

[color~="#666"] {
    --un-text-opacity: 1;
    color: rgb(102 102 102 / var(--un-text-opacity))
}

[color~="#909399"] {
    --un-text-opacity: 1;
    color: rgb(144 147 153 / var(--un-text-opacity))
}

[color~=red] {
    --un-text-opacity: 1;
    color: rgb(248 113 113 / var(--un-text-opacity))
}

.font-semibold {
    font-weight: 600
}

.leading-relaxed {
    line-height: 1.625
}

.italic {
    font-style: italic
}

.underline {
    text-decoration-line: underline
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.subpixel-antialiased {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.tab {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

.shadow {
    --un-shadow: var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / .1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / .1));
    box-shadow: var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.outline {
    outline-style: solid
}

.blur {
    --un-blur: blur(8px);
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.grayscale {
    --un-grayscale: grayscale(1);
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.filter,[filter=""] {
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.backdrop-filter {
    -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);
    backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia)
}

.transition {
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.ease,.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1)
}

.ease-out {
    transition-timing-function: cubic-bezier(0,0,.2,1)
}


.spinner[data-v-4c44ed2f] {
    width: 32px;
    text-align: center
}

.spinner>div[data-v-4c44ed2f] {
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay-4c44ed2f 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay-4c44ed2f 1.4s infinite ease-in-out both
}

.spinner .bounce1[data-v-4c44ed2f] {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.spinner .bounce2[data-v-4c44ed2f] {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
    margin: 0 3px
}

@-webkit-keyframes sk-bouncedelay-4c44ed2f {
    0%,80%,to {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bouncedelay-4c44ed2f {
    0%,80%,to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.sounds-icon[data-v-b5d5a448] {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.sounds-icon .iconfont[data-v-b5d5a448] {
    font-size: 16px
}

.sounds-icon.small[data-v-b5d5a448] {
    width: 29px;
    height: 29px
}

.chart-box[data-v-89b49873] {
    margin-bottom: 25px
}

.chart-box .chart-content[data-v-89b49873] {
    width: 400px;
    height: 300px;
    overflow: auto
}

.bot-container[data-v-b8ad332e] {
    cursor: pointer
}

.right-container[data-v-b8ad332e] {
    display: flex;
    align-items: center;
    padding: 0 10px 0 30px;
    font-size: 18px;
    height: 100%;
    font-weight: 700;
    color: #333
}

@keyframes blink-5ea34216 {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.show-cursor[data-v-5ea34216] {
    position: relative
}

.show-cursor[data-v-5ea34216]:after {
    content: "";
    width: 8px;
    height: 1.5em;
    position: absolute;
    background: #d5d9da;
    animation: blink-5ea34216 .6s infinite;
    left: calc(var(--78ac893a) * 1px);
    top: calc(var(--78ac8938) * 1px)
}

.debug-operate[data-v-5ea34216] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #626060
}

.debug-operate[data-v-5ea34216] button {
    margin-left: 0;
    padding-bottom: 0
}

.markdown-body {
    background-color: transparent;
    font-size: 14px;
}

.markdown-body p {
    white-space: pre-wrap;
    text-align: left;
}

.markdown-body ol {
    list-style-type: decimal
}

.markdown-body ul {
    list-style-type: disc
}

.markdown-body pre code,.markdown-body pre tt {
    line-height: 1.65
}

.markdown-body .highlight pre,.markdown-body pre {
    background-color: #fff
}

.markdown-body code.hljs {
    padding: 0
}

.markdown-body .code-block-wrapper {
    position: relative;
    padding-top: 24px
}

.markdown-body .code-block-header {
    position: absolute;
    top: 5px;
    right: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #b3b3b3
}

.markdown-body .code-block-header__copy {
    cursor: pointer;
    margin-left: .5rem;
    -webkit-user-select: none;
    user-select: none
}

.markdown-body .code-block-header__copy:hover {
    color: #80d4ff
}




html.dark .markdown-body {
    color-scheme: dark;
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-fg-default: #c9d1d9;
    --color-fg-muted: #8b949e;
    --color-fg-subtle: #6e7681;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110,118,129,.4);
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-attention-subtle: rgba(187,128,9,.15);
    --color-danger-fg: #f85149
}

html .markdown-body {
    color-scheme: light;
    --color-prettylights-syntax-comment: #6e7781;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-entity: #8250df;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #116329;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-fg-default: #24292f;
    --color-fg-muted: #57606a;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210,18%,87%,1);
    --color-neutral-muted: rgba(175,184,193,.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #cf222e
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--color-fg-default);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 1.5;
    word-wrap: break-word
}

.markdown-body .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom
}

.markdown-body h1:hover .anchor .octicon-link:before,.markdown-body h2:hover .anchor .octicon-link:before,.markdown-body h3:hover .anchor .octicon-link:before,.markdown-body h4:hover .anchor .octicon-link:before,.markdown-body h5:hover .anchor .octicon-link:before,.markdown-body h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: " ";
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>")
}

.markdown-body details,.markdown-body figcaption,.markdown-body figure {
    display: block
}

.markdown-body summary {
    display: list-item
}

.markdown-body [hidden] {
    display: none!important
}

.markdown-body a {
    background-color: transparent;
    color: var(--color-accent-fg);
    text-decoration: none
}

.markdown-body abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

.markdown-body b,.markdown-body strong {
    font-weight: var(--base-text-weight-semibold, 600)
}

.markdown-body dfn {
    font-style: italic
}

.markdown-body h1 {
    margin: .67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-muted)
}

.markdown-body mark {
    background-color: var(--color-attention-subtle);
    color: var(--color-fg-default)
}

.markdown-body small {
    font-size: 90%
}

.markdown-body sub,.markdown-body sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.markdown-body sub {
    bottom: -.25em
}

.markdown-body sup {
    top: -.5em
}

.markdown-body img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--color-canvas-default)
}

.markdown-body code,.markdown-body kbd,.markdown-body pre,.markdown-body samp {
    font-family: monospace;
    font-size: 1em
}

.markdown-body figure {
    margin: 1em 40px
}

.markdown-body hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--color-border-muted);
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--color-border-default);
    border: 0
}

.markdown-body input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.markdown-body [type=button],.markdown-body [type=reset],.markdown-body [type=submit] {
    -webkit-appearance: button
}

.markdown-body [type=checkbox],.markdown-body [type=radio] {
    box-sizing: border-box;
    padding: 0
}

.markdown-body [type=number]::-webkit-inner-spin-button,.markdown-body [type=number]::-webkit-outer-spin-button {
    height: auto
}

.markdown-body [type=search]::-webkit-search-cancel-button,.markdown-body [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.markdown-body ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

.markdown-body ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.markdown-body a:hover {
    text-decoration: underline
}

.markdown-body ::placeholder {
    color: var(--color-fg-subtle);
    opacity: 1
}

.markdown-body hr:before {
    display: table;
    content: ""
}

.markdown-body hr:after {
    display: table;
    clear: both;
    content: ""
}

.markdown-body table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto
}

.markdown-body td,.markdown-body th {
    padding: 0
}

.markdown-body details summary {
    cursor: pointer
}

.markdown-body details:not([open])>*:not(summary) {
    display: none!important
}

.markdown-body a:focus,.markdown-body [role=button]:focus,.markdown-body input[type=radio]:focus,.markdown-body input[type=checkbox]:focus {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: -2px;
    box-shadow: none
}

.markdown-body a:focus:not(:focus-visible),.markdown-body [role=button]:focus:not(:focus-visible),.markdown-body input[type=radio]:focus:not(:focus-visible),.markdown-body input[type=checkbox]:focus:not(:focus-visible) {
    outline: solid 1px transparent
}

.markdown-body a:focus-visible,.markdown-body [role=button]:focus-visible,.markdown-body input[type=radio]:focus-visible,.markdown-body input[type=checkbox]:focus-visible {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: -2px;
    box-shadow: none
}

.markdown-body a:not([class]):focus,.markdown-body a:not([class]):focus-visible,.markdown-body input[type=radio]:focus,.markdown-body input[type=radio]:focus-visible,.markdown-body input[type=checkbox]:focus,.markdown-body input[type=checkbox]:focus-visible {
    outline-offset: 0
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: var(--color-canvas-subtle);
    border: solid 1px var(--color-neutral-muted);
    border-bottom-color: var(--color-neutral-muted);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--color-neutral-muted)
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25
}

.markdown-body h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-border-muted)
}

.markdown-body h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em
}

.markdown-body h4 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1em
}

.markdown-body h5 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: .875em
}

.markdown-body h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: .85em;
    color: var(--color-fg-muted)
}

.markdown-body p {
    margin-top: 0;
    margin-bottom: 10px
}

.markdown-body blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: .25em solid var(--color-border-default)
}

.markdown-body ul,.markdown-body ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em
}

.markdown-body ol ol,.markdown-body ul ol {
    list-style-type: lower-roman
}

.markdown-body ul ul ol,.markdown-body ul ol ol,.markdown-body ol ul ol,.markdown-body ol ol ol {
    list-style-type: lower-alpha
}

.markdown-body dd {
    margin-left: 0
}

.markdown-body tt,.markdown-body code,.markdown-body samp {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px
}

.markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
    word-wrap: normal
}

.markdown-body .octicon {
    display: inline-block;
    overflow: visible!important;
    vertical-align: text-bottom;
    fill: currentColor
}

.markdown-body input::-webkit-outer-spin-button,.markdown-body input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.markdown-body:before {
    display: table;
    content: ""
}

.markdown-body:after {
    display: table;
    clear: both;
    content: ""
}

.markdown-body>*:first-child {
    margin-top: 0!important
}

.markdown-body>*:last-child {
    margin-bottom: 0!important
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body .absent {
    color: var(--color-danger-fg)
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1
}

.markdown-body .anchor:focus {
    outline: none
}

.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre,.markdown-body details {
    margin-top: 0;
    margin-bottom: 16px
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    color: var(--color-fg-default);
    vertical-align: middle;
    visibility: hidden
}

.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible
}

.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code {
    padding: 0 .2em;
    font-size: inherit
}

.markdown-body summary h1,.markdown-body summary h2,.markdown-body summary h3,.markdown-body summary h4,.markdown-body summary h5,.markdown-body summary h6 {
    display: inline-block
}

.markdown-body summary h1 .anchor,.markdown-body summary h2 .anchor,.markdown-body summary h3 .anchor,.markdown-body summary h4 .anchor,.markdown-body summary h5 .anchor,.markdown-body summary h6 .anchor {
    margin-left: -40px
}

.markdown-body summary h1,.markdown-body summary h2 {
    padding-bottom: 0;
    border-bottom: 0
}

.markdown-body ul.no-list,.markdown-body ol.no-list {
    padding: 0;
    list-style-type: none
}

.markdown-body ol[type=a] {
    list-style-type: lower-alpha
}

.markdown-body ol[type=A] {
    list-style-type: upper-alpha
}

.markdown-body ol[type=i] {
    list-style-type: lower-roman
}

.markdown-body ol[type=I] {
    list-style-type: upper-roman
}

.markdown-body ol[type="1"] {
    list-style-type: decimal
}

.markdown-body div>ol:not([type]) {
    list-style-type: decimal
}

.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body li>p {
    margin-top: 16px
}

.markdown-body li+li {
    margin-top: .25em
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: var(--base-text-weight-semibold, 600)
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.markdown-body table th {
    font-weight: var(--base-text-weight-semibold, 600)
}

.markdown-body table th,.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default)
}

.markdown-body table tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted)
}

.markdown-body table tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle)
}

.markdown-body table img {
    background-color: transparent
}

.markdown-body img[align=right] {
    padding-left: 20px
}

.markdown-body img[align=left] {
    padding-right: 20px
}

.markdown-body .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
}

.markdown-body span.frame {
    display: block;
    overflow: hidden
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--color-border-default)
}

.markdown-body span.frame span img {
    display: block;
    float: left
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--color-fg-default)
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.markdown-body span.float-left span {
    margin: 13px 0 0
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
}

.markdown-body code,.markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 12px;
    white-space: break-spaces;
    background-color: var(--color-neutral-muted);
    border-radius: 6px
}

.markdown-body code br,.markdown-body tt br {
    display: none
}

.markdown-body del code {
    text-decoration: inherit
}

.markdown-body samp {
    font-size: 85%
}

.markdown-body pre code {
    font-size: 100%
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 16px
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body .highlight pre,.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--color-canvas-subtle);
    border-radius: 6px
}

.markdown-body pre code,.markdown-body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body .csv-data td,.markdown-body .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap
}

.markdown-body .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--color-canvas-default);
    border: 0
}

.markdown-body .csv-data tr {
    border-top: 0
}

.markdown-body .csv-data th {
    font-weight: var(--base-text-weight-semibold, 600);
    background: var(--color-canvas-subtle);
    border-top: 0
}

.markdown-body [data-footnote-ref]:before {
    content: "["
}

.markdown-body [data-footnote-ref]:after {
    content: "]"
}

.markdown-body .footnotes {
    font-size: 12px;
    color: var(--color-fg-muted);
    border-top: 1px solid var(--color-border-default)
}

.markdown-body .footnotes ol {
    padding-left: 16px
}

.markdown-body .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px
}

.markdown-body .footnotes li {
    position: relative
}

.markdown-body .footnotes li:target:before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid var(--color-accent-emphasis);
    border-radius: 6px
}

.markdown-body .footnotes li:target {
    color: var(--color-fg-default)
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
    font-family: monospace
}

.markdown-body .pl-c {
    color: var(--color-prettylights-syntax-comment)
}

.markdown-body .pl-c1,.markdown-body .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant)
}

.markdown-body .pl-e,.markdown-body .pl-en {
    color: var(--color-prettylights-syntax-entity)
}

.markdown-body .pl-smi,.markdown-body .pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import)
}

.markdown-body .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag)
}

.markdown-body .pl-k {
    color: var(--color-prettylights-syntax-keyword)
}

.markdown-body .pl-s,.markdown-body .pl-pds,.markdown-body .pl-s .pl-pse .pl-s1,.markdown-body .pl-sr,.markdown-body .pl-sr .pl-cce,.markdown-body .pl-sr .pl-sre,.markdown-body .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string)
}

.markdown-body .pl-v,.markdown-body .pl-smw {
    color: var(--color-prettylights-syntax-variable)
}

.markdown-body .pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched)
}

.markdown-body .pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg)
}

.markdown-body .pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg)
}

.markdown-body .pl-sr .pl-cce {
    font-weight: 700;
    color: var(--color-prettylights-syntax-string-regexp)
}

.markdown-body .pl-ml {
    color: var(--color-prettylights-syntax-markup-list)
}

.markdown-body .pl-mh,.markdown-body .pl-mh .pl-en,.markdown-body .pl-ms {
    font-weight: 700;
    color: var(--color-prettylights-syntax-markup-heading)
}

.markdown-body .pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic)
}

.markdown-body .pl-mb {
    font-weight: 700;
    color: var(--color-prettylights-syntax-markup-bold)
}

.markdown-body .pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg)
}

.markdown-body .pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg)
}

.markdown-body .pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg)
}

.markdown-body .pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg)
}

.markdown-body .pl-mdr {
    font-weight: 700;
    color: var(--color-prettylights-syntax-meta-diff-range)
}

.markdown-body .pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle)
}

.markdown-body .pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
}

.markdown-body .pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link)
}

.markdown-body g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
    font-size: 1em;
    font-style: normal!important;
    font-weight: var(--base-text-weight-normal, 400);
    line-height: 1;
    vertical-align: -.075em
}

.markdown-body g-emoji img {
    width: 1em;
    height: 1em
}

.markdown-body .task-list-item {
    list-style-type: none
}

.markdown-body .task-list-item label {
    font-weight: var(--base-text-weight-normal, 400)
}

.markdown-body .task-list-item.enabled label {
    cursor: pointer
}

.markdown-body .task-list-item+.task-list-item {
    margin-top: 4px
}

.markdown-body .task-list-item .handle {
    display: none
}

.markdown-body .task-list-item-checkbox {
    margin: 0 .2em .25em -1.4em;
    vertical-align: middle
}

.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em .25em .2em
}

.markdown-body .contains-task-list {
    position: relative
}

.markdown-body .contains-task-list:hover .task-list-item-convert-container,.markdown-body .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto
}

.markdown-body ::-webkit-calendar-picker-indicator {
    filter: invert(50%)
}

html.dark {
    color-scheme: dark;
    --oz-color-primary: #00a9ff;
    --oz-color-primary-light-3: #0a82c1;
    --oz-color-primary-light-5: #116998;
    --oz-color-primary-light-7: #184f6f;
    --oz-color-primary-light-8: #1b425a;
    --oz-color-primary-light-9: #1f3546;
    --oz-color-primary-dark-2: #33baff;
    --oz-color-success: #1ad000;
    --oz-color-success-light-3: #1c9e0f;
    --oz-color-success-light-5: #1e7c19;
    --oz-color-success-light-7: #205a22;
    --oz-color-success-light-8: #204a27;
    --oz-color-success-light-9: #21392c;
    --oz-color-success-dark-2: #48d933;
    --oz-color-warning: #e19800;
    --oz-color-warning-light-3: #a8760f;
    --oz-color-warning-light-5: #826019;
    --oz-color-warning-light-7: #5b4a22;
    --oz-color-warning-light-8: #483e27;
    --oz-color-warning-light-9: #35332c;
    --oz-color-warning-dark-2: #e7ad33;
    --oz-color-danger: #d50031;
    --oz-color-danger-light-3: #9f0c31;
    --oz-color-danger-light-5: #7c1431;
    --oz-color-danger-light-7: #581c31;
    --oz-color-danger-light-8: #462031;
    --oz-color-danger-light-9: #342431;
    --oz-color-danger-dark-2: #dd335a;
    --oz-color-error: #d50031;
    --oz-color-error-light-3: #9f0c31;
    --oz-color-error-light-5: #7c1431;
    --oz-color-error-light-7: #581c31;
    --oz-color-error-light-8: #462031;
    --oz-color-error-light-9: #342431;
    --oz-color-error-dark-2: #dd335a;
    --oz-color-info: #909399;
    --oz-color-info-light-3: #6f737a;
    --oz-color-info-light-5: #595e65;
    --oz-color-info-light-7: #434850;
    --oz-color-info-light-8: #383d46;
    --oz-color-info-light-9: #2d333b;
    --oz-color-info-dark-2: #a6a9ad;
    --oz-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .36), 0px 8px 20px rgba(0, 0, 0, .72);
    --oz-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .72);
    --oz-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .72);
    --oz-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
    --oz-bg-color-page: #0a0a0a;
    --oz-bg-color: #222831;
    --oz-bg-color-overlay: #1d1e1f;
    --oz-bg-color-input: none;
    --oz-text-color-primary: #E6EBF5;
    --oz-text-color-regular: #D1D6E0;
    --oz-text-color-secondary: #A8ADB7;
    --oz-text-color-placeholder: #9399A2;
    --oz-text-color-disabled: #747A83;
    --oz-border-color-darker: #6C7179;
    --oz-border-color-dark: #61666F;
    --oz-border-color: #575C65;
    --oz-border-color-light: #4C525A;
    --oz-border-color-lighter: #424750;
    --oz-border-color-extra-light: #373D46;
    --oz-fill-color-darker: #4D525A;
    --oz-fill-color-dark: #454A52;
    --oz-fill-color: #3C414A;
    --oz-fill-color-light: #333941;
    --oz-fill-color-lighter: #2B3039;
    --oz-fill-color-extra-light: #262C35;
    --oz-fill-color-blank: transparent;
    --oz-mask-color: rgba(0, 0, 0, .8);
    --oz-mask-color-extra-light: rgba(0, 0, 0, .3)
}

html.dark .oz-button {
    --oz-button-disabled-text-color: rgba(255, 255, 255, .5)
}

html.dark .oz-card {
    --oz-card-bg-color: var(--oz-bg-color-overlay)
}

html.dark .oz-empty {
    --oz-empty-fill-color-0: var(--oz-color-black);
    --oz-empty-fill-color-1: #4b4b52;
    --oz-empty-fill-color-2: #36383d;
    --oz-empty-fill-color-3: #1e1e20;
    --oz-empty-fill-color-4: #262629;
    --oz-empty-fill-color-5: #202124;
    --oz-empty-fill-color-6: #212224;
    --oz-empty-fill-color-7: #1b1c1f;
    --oz-empty-fill-color-8: #1c1d1f;
    --oz-empty-fill-color-9: #18181a
}