<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomi.youpin.gwdash.dao.mapper.GWGroupInfoMapper" >

  <insert id="insertWithId" parameterType="com.xiaomi.youpin.gwdash.dao.model.GroupInfo">
    insert into gw_group_info (id,name, description, creation_date,modify_date, `status`)
        values (#{id}, #{name}, #{description}, #{creationDate}, #{modifyDate}, #{status})
  </insert>


    <select id="getOwnGroups" resultType="java.util.Map">

    </select>
</mapper>