<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.youpin.gwdash.dao.mapper.GwUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.youpin.gwdash.dao.model.GwUserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="gids" jdbcType="VARCHAR" property="gids" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <resultMap id="AccountResultMap" type="com.xiaomi.youpin.gwdash.bo.GWAccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_name" jdbcType="VARCHAR" property="email" />
    <result column="user_phone" jdbcType="VARCHAR" property="phone" />
    <result column="gids" jdbcType="VARCHAR" property="gid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="ctime" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_name, user_phone, gids, create_date, modify_date, `status`
  </sql>

  <sql id="Account_Column_List">
    id, user_name, user_phone, gids, create_date, modify_date
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gw_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="queryUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gw_user_info
    where user_name = #{userName}
  </select>

  <select id="queryUserByName2"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gw_user_info
    where user_name = #{userName} and tenant = #{tenant}
  </select>

  <select id="queryAccountByName"  resultMap="AccountResultMap">
    select
    <include refid="Account_Column_List" />
    from gw_user_info
    where user_name = #{userName} and tenant = #{tenant}
  </select>

  <select id="queryAccountById" parameterType="java.lang.Integer" resultMap="AccountResultMap">
    select
    <include refid="Account_Column_List" />
    from gw_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gw_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xiaomi.youpin.gwdash.dao.model.GwUserInfo" useGeneratedKeys="true">
    insert into gw_user_info (user_name, user_phone, gids, 
      create_date, modify_date, `status`, `tenant`
      )
    values (#{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{gids,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{tenement,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertWithId" keyColumn="id" keyProperty="id" parameterType="com.xiaomi.youpin.gwdash.dao.model.GwUserInfo" useGeneratedKeys="true">
    insert into gw_user_info (id,user_name, user_phone, gids,
                              create_date, modify_date, `status`
    )
    values (#{id},#{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{gids,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
           )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiaomi.youpin.gwdash.dao.model.GwUserInfo" useGeneratedKeys="true">
    insert into gw_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="gids != null">
        gids,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="gids != null">
        #{gids,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.youpin.gwdash.dao.model.GwUserInfo">
    update gw_user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="gids != null">
        gids = #{gids,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaomi.youpin.gwdash.dao.model.GwUserInfo">
    update gw_user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      gids = #{gids,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>